@media (max-width: 1024px) {
    .container__f {
        width: 80%;
    }

    .header__wrapper {
        background: url(../img/header__bg.png) no-repeat right 0 bottom 30%;
        background-size: 450px;
    }

    .services__items {
        justify-content: space-around;
    }

    .services__item:not(:last-child) {
        margin-bottom: 60px;
    }

    .about {
        flex-direction: column;
        justify-content: center;
    }

    .about__description {
        margin-bottom: 80px;
        width: auto;
        text-align: center;
    }

    .description__service__item li:not(:last-child) {
        margin-bottom: 20px;
    }

    .about__achiv {
        justify-content: center;
        width: auto;
    }

    .companies__img:not(:last-child)::after {
        display: none;
    }

    .achiv__items {
        justify-items: center;
        width: 360px;
    }

    .map__bloc {
        left: 5%;
        width: 320px;
        height: 310px;
    }

    .footer__wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer__text {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .header__wrapper {
        background: url(../img/header__bg.png) no-repeat right 0 bottom 30%;
        background-size: 300px;
    }

    .nav__toggle {
        display: inline-block;
    }

    .nav .header__items {
        display: none;
        align-items: flex-start;
    }

    #nav__toggle:checked~.header__items {
        display: flex;
        flex-direction: column;
    }

    .nav .header__items {
        justify-content: start;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        color: #000;
        opacity: .9;
        padding: 5%;
        min-width: 300px;
        height: 100%;
        z-index: 2;
    }

    .header__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .basket__item:not(:last-child) {
        margin-right: 15px;
    }

    .map__bloc {
        margin-top: 15px;
        position: sticky;
        border: 1px #000 solid;
        box-shadow: 1px 1px 1px 1px #000;
    }
}

@media (max-width: 768px) {
    .header__wrapper {
        background: none;
    }

    .nav {
        flex-direction: column;
    }

    .nav__toggle {
        margin: 25px 0;
    }

    .nav .header__items {
        min-width: 150px;
    }

    .header__title {
        width: auto;
        font-size: 40px;
        line-height: 40px;
    }

    .header__subtitle {
        width: auto;
        margin-bottom: 45px;
    }

    .companies__img {
        margin: 20px 0;
    }

    .about__achiv {
        width: 100%;
    }

    .achiv__img {
        width: 100%;
    }


    .achiv__items {
        width: 100%;
    }

    .achiv__item__top {
        font-size: 40px;
    }

    .achiv__item__bot {
        font-size: 14px;
    }
}

@media (max-width: 376px) {

    .header__wrapper {
        min-height: 370px;
    }

    .header__title {
        text-align: center;
        font-size: 35px;
    }

    .achiv__items {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);
    }

    .achiv__item {
        width: 33.3%;
        margin-bottom: 10px;
    }

    .map__bloc {
        width: calc(80% - 5px);
    }
}

@media (max-width: 320px) {

    .nav .header__items {
        min-width: 100px;
    }

    .services__item {
        width: 100%;
    }

    .services__img img {
        width: 100%;
    }

    .description__title {
        font-size: 35px;
        line-height: 35px;
    }
}